# enable the directives - assuming they're not enabled globally
ExpiresActive on

# send an Expires: header for each of these mimetypes (as defined by server)
ExpiresDefault "access plus 1 month"

# Images
ExpiresByType image/png  "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
