parameters:
    bootstrapFiles: 
        - src/autoload.php
    excludePaths:
        - src/database/*
        - src/template/*
        - src/adminer/*
        - src/minify/*
        - src/htmlpurifier/*
        - src/sluggenerator/*
